<div class="globalMasthead">
    <div class="globalMasthead-hd u-containerHeader">
        <div class="sideBySide mix-sideBySide_grow">
            <div>
                <a href="/" class="branding u-textDecorationNoUnderline u-textLineHeightShort u-textColorDark" title="home page">
                    <div class="branding-name" itemprop="brand" itemscope itemtype="http://schema.org/Brand">
                        <div itemprop="name" class="u-textFontFamilySecondary u-textFontSizeSmallToMedium u-textColorDark">Peter Marty Design</div>
                        <p itemprop="description" aria-hidden="true" class="u-isVisuallyHidden">Peter Marty Design offers Digital and Print Design, User Experience Design and Consultation, User Interface Development and Consultation, Branding and Illustration.</p>
                    </div>
                </a>
            </div>
            <div>
                {%- include nav.html -%}
            </div>
        </div>
    </div>
</div>
